img {
	width: 80vw;
	/* border-radius: 10px; */
	border-radius: 20px;
}

.bio ul {
	list-style: none;
	padding: 0;
	margin: 20px;
}

.bio li > ul {
	list-style: circle;
}

.bio li {
	text-align: left;
	margin-bottom: 15px;
}

.bio ul li {
	font-size: 1.8rem;
}

h3 {
	font-family: "Plavea Shine", "Plavea Solid", sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 2rem;
}

@media screen and (min-width: 768px) {
	#bio {
		display: flex;
	}

	img {
		align-self: flex-start;
		position: sticky;
		top: 20px;
		width: 40vw;
		margin: 20px 10px;
		border-radius: 0;
	}
}
