/* || GENERAL STYLES */

*{
	margin:0;
}

body{
	font: 100% -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	background: #ebebebff;
}

h1,h2,h3,h4,h5,h6{
	font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
	max-width: 100%;
}
/* || UTILITIES */

/* || SITEWIDE */

/* HEADER/HERO IMAGE STYLING */

.home_link{
	text-decoration: none;
}

header{
	height: 50vh;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	justify-content: flex-end;
	color: white;
	background: no-repeat bottom 40% center/cover url(img/floor_potato.jpg), black;
}

header h1, header h2{
	margin: 5px 20px;
	text-shadow: 1px 1px 5px black;
}

header h1{
	font-size: 3em;
}

header h2{
	font-size: 1.5em;
}

header hr{
	height: 1px;
	width: 9em;
	margin: 0 20px 0 0;
	background-color: white;
}

/* MOBILE NAVIGATION */
nav ul{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	background: #4c8577ff;
	list-style-type: none;
	padding: 0; 
}

nav ul li{
	flex: 1;
	font-size: 1em;
	padding: 10px 10px;
	color: white;
	text-align: center;
}

nav ul li:hover, nav ul li:active{
	cursor: pointer;
	background: #64A695;
	border: 5px outset black 5px outset gray;
}

nav ul li a{
	vertical-align: middle;
}

nav .search_bar{
	display: flex;
	flex-flow: nowrap;
	flex:1;
	padding: 10px 10px;
}

nav .search_bar input{
	flex: 2;
}

nav .search_bar button{
	flex: 1;
}
nav .search_bar button:hover{
	cursor: pointer;
}
