#bio img {
	border-radius: 20px;
	max-width: 80vw;
}

.bio ul {
	list-style: none;
	padding: 0;
	margin: 20px;
}

.bio li > ul {
	list-style: circle;
}

.bio li {
	text-align: left;
	margin-bottom: 15px;
}

.bio ul li {
	font-size: 1.8rem;
	line-height: 1.25;
}

h3 {
	font-family: "Plavea Shine", "Plavea Solid", sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 2rem;
}

@media screen and (min-width: 768px) {
	#bio {
		display: flex;
		margin: 0 3vw;
	}

	img {
		display: inline-block;
		width: 34vw;
	}

	.bio_pic {
		align-self: flex-start;
		width: 50vw;
		position: sticky;
		top: 8px;
		margin: 10px 5vw 10px 2vw;
	}

	h2 {
		margin-right: 3vw;
	}

	h3 {
		text-align: left;
	}
}
