#gallery {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	padding: 0 4px 8px;
}

.column {
	flex: 20%;
	max-width: 20%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.column {
		flex: 45%;
		max-width: 45%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 45%;
		max-width: 45%;
	}
}
